<h1>Games</h1>
<div ng-hide="status == 200" class="alert alert-danger">
    <p><strong>{{ status }}</strong> {{ errorMessage }}</p>
    <p>{{ errorDetail }}</p>
</div>
<table ng-show="status == 200" class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Away</th>
            <th>Home</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="game in games">
            <td>{{ game.DatePlayed }}</td>
            <td><a href="#/teams/{{ game.AwayTeam.Id }}">{{ game.AwayTeam.Name }}</a></td>
            <td><a href="#/teams/{{ game.HomeTeam.Id }}">{{ game.HomeTeam.Name }}</a></td>
        </tr>
    </tbody>
</table>
